*{
    margin: 0;
    padding: 0;
    
}
body{
    display: flex;
    justify-content: center;
    align-items: center;  
    height: 100vh; 
    background-color: #f4e4ba;
}
.container{
    background-color: white;
    border: 2px solid honeydew;
    border-radius: 1rem;
    padding: 1rem;
    min-height: 50vh;
    min-width: 60vh;
}

.container,.amount p{
    margin: 1.5rem 0  0.2rem 0;
    /* font-weight:600; */
}
input{
    padding-left: 5px;
    height: 2rem;
    width: 90%;
    border: 2px solid gainsboro;
    border-radius: 5px;
}

.dropdown{
    display: flex;
    margin: 2rem 0 1.5rem 0;
    justify-content: space-between;
    align-items: center;
}
.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    border: 2.3px solid plum;
    border-radius: 5px;
    
}
.select-container img{
    width: 2.5rem;
    height: 2.5rem;
}
.select-container select{
    border: none;
    cursor: pointer;
    font-size: 0.75rem;
    width: 3rem;
}
.msg{
    font-size: 1rem;
    font-weight: bold;
}
.btn{
    margin-top: 2rem;
    width: 100%;
    height: 2.5rem;
    color: wheat;
    background-color: rgb(69, 23, 23);
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
}
